<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>

<div class="container">
  <div class="row justify-content-center">
    <div class="card">
      <div class="card-header">
        <h4>이메일 확인</h4>
      </div>
      <div class="card-body">
        <div th:if="${error}">
          <p>인증이 실패하였습니다.</p>
          <a th:href="@{/user/login}" class="btn btn-primary">로그인</a>
        </div>
        <div th:if="${error == null}">
          <p>인증이 성공하였습니다.</p>
          <a th:href="@{/user/login}" class="btn btn-primary">로그인</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>