<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments.html :: head"></head>
<body>
<div class="wrapper">
  <header th:replace="fragments.html :: sidebar"></header>
  <main class="main">
    <div class="profile-follow-container">
      <section class="main-backward" >
        <a href="#" th:href="'/user/'+${userDto.username}">
          <i class="fa-solid fa-arrow-left"></i>
        </a>
        <div class="main-backward-info">
          <div class="name" th:text="${userDto.nickname}">우디</div>
          <div class="meta-info" th:text="'@' + ${userDto.username}">@woody</div>
        </div>
      </section>

      <section class="profile-follow-tab">
        <a th:href="'/user/'+${userDto.username}+'/following'">
          <div class="profile-follow-tab-item" th:classappend="${#strings.equals(mode,'following')? 'active':''}">팔로우</div>
        </a>
        <a th:href="'/user/'+${userDto.username}+'/followers'">
          <div class="profile-follow-tab-item"  th:classappend="${#strings.equals(mode,'followers')? 'active':''}">팔로워</div>
        </a>
      </section>

      <section class="follow-list-container" th:each="user : ${following}">
        <article class="follow-card">
          <div class="circular--portrait follow-card-image">
            <a class="follow-card-name-nickname" th:href="'/user/'+${user.username}">
              <img th:if="${!#strings.isEmpty(user.profileImage)}" th:src="${user.profileImage}" alt="">
              <img class="non-profile" th:if="${#strings.isEmpty(user.profileImage)}" th:src="@{/icon/person-circle.svg}" alt="">
            </a>
          </div>
          <div class="follow-card-info">
            <div class="follow-card-head">
              <div class="follow-card-name">
                <a class="follow-card-name-nickname link-text" th:href="'/user/'+${user.username}" th:text="${user.nickname}">닉네임
                </a>
                <div class="follow-card-name-tag" th:text="'@' + ${user.username}">@태그</div>
              </div>
              <div class="follow-card-follow">
                <button class="follow-card-follow-btn">팔로우</button>
              </div>
            </div>
            <div class="follow-card-footer" th:text="${user.description}">자기소개</div>
          </div>
        </article>
      </section>


    </div>
  </main>
</div>
</body>
</html>