<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body>

<div class="container">
  <div class="row justify-content-center">
    <div class="card">
      <div class="card-header">
        <h4>이메일 확인</h4>
      </div>
      <div class="card-body">
        이메일주소 : <small th:text="${#authentication.getName()}"></small>
        <form class=".needs-validation col-sm-13" th:action="@{/verify-email}" method="post">
          <div class="form-group">
            <label for="verifyToken">인증번호</label>
            <input type="text" id="verifyToken" name="verifyToken" class="form-control" aria-describedby="verifyTokenHelp"
                   required/>
          </div>
          <small id="verifyTokenHelp" class="form-text text-muted">
            메일로 전송된 인증번호 숫자 6자를 입력해주세요.
          </small>

          <div class="my-1 form-group">
            <button class="btn btn-primary btn-block" type="submit"
                    aria-describedby="submitHelp">인증하기
            </button>
          </div>

          <div class="mt-1 alert alert-danger" th:if="${error}">
            <p>인증번호가 틀리거나, 만료되었습니다.</p>
            <p>다시 입력하거나 메일을 다시 전송받으세요.</p>
            <a href="#" th:href="@{/verify-email/resend}">메일 다시 전송</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
<script>
</script>
</html>