:root {
  /* Color */
  --white-color: #d6d9db;
  --blue-light-color: #375a7f;
  --blue-color: #1a89d4;
  --gray-light-color: #64686d;
  --gray-dark-color: hsl(0, 0%, 17%);
  --dark-background-color: #000;
  --bs-body-bg: #000;

  /* Size */
  --side-padding: 12px;

  /* Font Size */
  --font-larger: calc(1rem * 1.4);
  --font-large: calc(1rem * 1.2);
  --font-medium: calc(1rem * 1);
  --font-small: calc(1rem * 0.8);
  --font-micro: calc(1rem * 0.6);
}

body {
  height: 100vh;
  font-size: var(--font-medium);
  overflow-y: scroll;
  line-height: unset;
}

dl,
ol,
ul {
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  max-width: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  border-left: thin solid rgb(51, 51, 51);
  border-right: thin solid rgb(51, 51, 51);
}

.sidebar {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (max-width: 848px) {
  .main {
    width: 100%;
    margin-left: 50px;
  }

  .sidebar {
    width: 50px;
  }

  .menu-text {
    display: none;
  }

  .profile-tray-name {
    display: none;
  }
}

.circular--portrait {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: 100%;
}

.link-text {
  text-decoration: none;
}

.link-text:hover {
  color: unset;
  text-decoration: underline;
  cursor: pointer;
}

.textarea {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-style: none;
  border-color: transparent;
  vertical-align: middle;
  overflow: hidden;
  resize: none;
}

.textarea:focus {
  outline: none;
}

.sidebar-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  font-size: calc(1rem * 1.3);
  padding: 0;
}

.sidebar-menu > i {
  /*margin-right: 1rem;*/
}

.sidebar-menu > li > a {
  text-decoration: none;
}

.sidebar-link {
  transition: 0.3s;
  padding: 10px 10px;
  border-radius: 100px;
}

.sidebar-link:hover {
  background-color: #504e4e;
}

.menu-text {
  margin-left: 1rem;
}

.tray-profile {
  width: 100%;
}

.tweet-post-btn {
  width: 80%;
  border-radius: 100px;
  padding: 0.5rem 0;
}

.main-backward a {
  text-decoration: none;
  color: var(--white-color);
  border-radius: 50%;
  padding: 2px 6px;
}

.main-backward a:hover {
  background-color: var(--gray-light-color);
}

.main-backward {
  display: flex;
  padding: 5px var(--side-padding);
  align-items: center;
  gap: 2rem;
}

.main-backward-info {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.main-backward .name {
  font-size: var(--font-larger);
  font-weight: 800;
}

.main-backward .meta-info {
  color: var(--gray-light-color);
  font-size: var(--font-small);
}

/* tweet-create-modal */
.tweet-post-modal textarea {
  border: none;
  border-style: none;
  border-color: transparent;
}

.tweet-post-modal textarea:focus {
  outline: none;
}

/* tweet-article */
.tweet-article {
  padding: 0 var(--side-padding);
  display: flex;
  flex-direction: column;
}

.tweet-article .user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-article .user-info img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.tweet-article .metadata a {
  display: flex;
  gap: 10px;
  color: var(--white-color);
  text-decoration: none;
}

.tweet-article .metadata .info .nickname {
  font-weight: bold;
}

.tweet-article .metadata .info .username {
  color: var(--gray-light-color);
  font-size: var(--font-small);
}

.tweet-article .user-info .more {
  color: var(--gray-light-color);
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  transition: 0.3s;
}

.tweet-article .user-info .more:hover {
  color: var(--blue-color);
  background-color: var(--gray-dark-color);
}

.tweet-article .content {
  padding: 1rem 0;
  font-size: var(--font-larger);
  font-weight: 500;
}

.tweet-article .tweet-date {
  font-size: var(--font-small);
  color: var(--gray-light-color);
}

.tweet-article .tweet-count {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0 var(--side-padding);
  font-size: var(--font-small);
  align-items: center;
}

.tweet-article .tweet-count .count {
  color: var(--white-color);
}

.tweet-article .tweet-count .decription {
  color: var(--gray-light-color);
}

.tweet-article .tweet-action {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0 var(--side-padding);
}

.tweet-article .tweet-action li {
  font-size: var(--font-large);
  color: var(--gray-light-color);
  border-radius: 50%;
  padding: 5px 10px;
}

.tweet-article .tweet-action li:hover {
  color: var(--blue-color);
  background-color: var(--gray-dark-color);
}

.tweet-article .tweet-reply {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

.tweet-article .tweet-reply img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.tweet-article .tweet-reply .reply-form {
  flex: 1;
  color: var(--gray-light-color);
  font-size: var(--font-large);
}

.tweet-article .tweet-reply .reply-form:focus {
  color: var(--white-color);
}

.tweet-article .tweet-reply .btn {
  padding: 0.5rem 0.8rem;
  border-radius: 100px;
  background-color: var(--blue-light-color);
  font-weight: bold;
}

.profile-follow-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100px;
}

.profile-follow-user-header {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  gap: 20px;
  margin-left: 1rem;
}

.profile-follow-user-header > a > i {
  width: 2rem;
  height: 2rem;
  color: white;

  border-radius: 100px;
  padding: 6px;

  transition: 0.5s;
}

.profile-follow-user-header > a > i:hover {
  background-color: #504e4e;
}

.userinfo-nickname {
  font-size: calc(1rem * 1.2);
}

.userinfo-tag {
  font-size: calc(1rem * 0.8);
  color: darkgray;
}

.profile-follow-tab {
  display: flex;

  font-size: 1rem;
  border-bottom: thin solid rgb(51, 51, 51);
  letter-spacing: 0.1rem;
}

.profile-follow-tab > a {
  flex: 1;
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
  color: darkgray;
}

.profile-follow-tab > a .active {
  color: white;
  text-decoration-line: underline;
  text-decoration-color: cornflowerblue;
  text-decoration-style: solid;
  text-decoration-thickness: 0.2rem;
}

.profile-follow-tab > a:hover {
  background-color: #504e4e;
}

.profile-follow-tab-item {
  text-align: center;
  padding: 1rem 0;
}

.follow-list-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.follow-card {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.follow-card-image {
  width: 36px;
  height: 36px;
}

.non-profile {
  fill: darkgray;
}

.follow-card-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.follow-card-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.follow-card-name-tag {
  color: darkgray;
  font-size: 0.8rem;
}

.follow-card-follow-btn {
  background-color: white;
  color: #1e1e1e;
  border-radius: 100px;
  font-size: 1rem;
  padding: 0 1rem;
}

.follow-card-footer {
  font-size: 1rem;
}

.follow-card-name-nickname {
  color: var(--white-color);
}

.profile-calendar {
  display: flex;
  gap: 5px;
}

.background-profile-image {
  height: 150px;
  width: 100%;
  background-color: #1e1e1e;
}

.profile-image {
  width: 150px;
  height: 150px;
  min-height: 48px;
  top: -75px;
  left: 20px;
  z-index: 3;
  position: relative;
  border-radius: 50%;
}

.profile-follow-count {
  color: white;
}

.profile-container{
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100px; */
}

.profile-container .profile-update-btn{

  background-color: var(--dark-background-color);
  border: var(--white-color) solid thin;
  border-radius: 100px;
  font-size: var(--font-medium);
  padding: 0.5rem 1rem;
  float: right;
  position: relative;
  top: 15px;
  right: 20px;
}

.profile-container .profile-update-btn:hover{
  filter: brightness(120%);
}

.profile-container .profile-update-btn a{
  color: var(--white-color);
  text-decoration: none;
}


.profile-info {
  position: relative;
  top: -50px;
  padding: 0 var(--side-padding);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-info .nickname {
  font-size: var(--font-large);
  font-weight: 800;
}

.profile-info .username {
  font-size: var(--font-medium);
  color: var(--gray-light-color);
}