<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The page supports only a dark color schemes -->
  <meta name="color-scheme" content="light dark">
  <title>WoodyTwit</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-dark.min.css"
        rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.bundle.min.js"
          integrity="sha512-BOsvKbLb0dB1IVplOL9ptU1EYA+LuCKEluZWRUYG73hxqNBU85JBIBhPGwhQl7O633KtkjMv8lvxZcWP+N3V3w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<header th:fragment="sidebar" class="text-bg-dark">
  <div class="sidebar">
    <ul class="sidebar-menu">
      <li>
        <a href="#" class="sidebar-link text-white">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="#" th:href="@{/}" class="sidebar-link text-white">
          <i class="fa-solid fa-house"></i>
          <span class="menu-text">홈</span>
        </a>
      </li>
      <li>
        <a href="#" class="sidebar-link text-white">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span class="menu-text">탐색하기</span>
        </a>
      </li>
      <li>
        <a href="#" class="sidebar-link text-white">
          <i class="fa-regular fa-bell"></i>
          <span class="menu-text">알림</span>
        </a>
      </li>
      <li>
        <a href="#" class="sidebar-link text-white">
          <i class="fa-regular fa-envelope"></i>
          <span class="menu-text">쪽지</span>
        </a>
      </li>
      <li>
        <a href="#" class="sidebar-link text-white">
          <i class="fa-regular fa-bookmark"></i>
          <span class="menu-text">북마크</span>
        </a>
      </li>
      <li>
        <a href="#" th:href="'/user/' + ${currentUser.username}" class="sidebar-link text-white">
          <i class="fa-regular fa-user"></i>
          <span class="menu-text">프로필</span>
        </a>
      </li>
      <li>
        <button type="button" class="btn btn-primary tweet-post-btn" data-bs-toggle="modal" data-bs-target="#tweet-post-modal">트윗하기</button>
      </li>

    </ul>

    <article class="d-flex flex-column tray-profile">
      <div class="dropdown">
        <a href="#"
           class="d-flex align-items-center ms-2 text-white text-decoration-none mb-5"
           data-bs-toggle="dropdown" aria-expanded="false">
          <div class="circular--portrait" style="width: 50px; height: 50px;">
            <img th:if="${!#strings.isEmpty(currentUser.profileThumbnail)}"
                 th:src="${currentUser.profileThumbnail}"/>
          </div>
          <div class="profile-tray-name ms-2 ">
            <div class="d-flex flex-column m-1">
              <strong th:text="${currentUser.nickname}">nickname</strong>
              <small class="text-muted" th:text="'@' + ${currentUser.username}">@tag</small>
            </div>
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
            <button class="dropdown-item" type="submit">Sign out</button>
          </form>
        </ul>
      </div>
    </article>
  </div>

  <article th:replace="fragments.html :: tweet-post-modal"></article>
</header>

<th:block th:fragment="tweet-post-modal" class="text-bg-dark">
  <style>
    .modal-content-header, .modal-content-body{
      margin: 1rem;
    }

    .modal-content-body{
      display: flex;
    }

    .modal-content-main{
      flex-grow: 1;
      /*background-color: white;*/
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .modal-input{
      border: none;
      outline: none;
      resize: none;
      width: 100%;
      height: 100%;
      font-size: 1.2rem;
      background-color: inherit;
    }

    .modal-tweet-btn{
      border-radius: 100px;
    }

  </style>

  <!--  add tweet post modal -->
  <div class="modal fade tweet-post-modal" id="tweet-post-modal" tabindex="-1"
       aria-labelledby="tweet-post-modal-label"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-content-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-content-body">
          <div class="circular--portrait" style="width: 55px; height: 55px;">
            <img th:if="${!#strings.isEmpty(currentUser.profileImage)}"
                 th:src="${currentUser.profileImage}"/>
          </div>

          <div class="modal-content-main">
              <!-- content text area and button to tweet           -->
            <textarea class="textarea" name="content" id="content" rows="3" placeholder="무슨 일이 일어나고 있나요?"></textarea>
            <button class="btn btn-primary modal-tweet-btn" type="button" id="modal-tweet-btn">트윗하기</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.getElementById('modal-tweet-btn').addEventListener('click', function () {
      const content = document.getElementById('content').value;
      const data = {
        content: content
      };
      fetch('/api/tweets', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      }).then(function (response) {
        if (response.ok) {
          response.json().then(function (res) {
            const {data} = res;
            const {id} = data;
            location.replace('/tweets/' + id);
          });
        } else {
          alert(response.statusText);
        }
      });
    });

    document.querySelector("textarea[name=content]").addEventListener("input", function () {
      const contentElement = document.getElementById('content');
      const content = contentElement.value;
      const tweetBtn = document.getElementById('modal-tweet-btn');
      contentElement.setAttribute('rows', Math.max(3, content.split("\n").length));

      if (content.length > 0) {
        tweetBtn.disabled = false;
      } else {
        tweetBtn.disabled = true;
      }
    });

  </script>
</th:block>

</html>